/* ==============================

  変数

================================= */
/* ------------------------------

  フォント

--------------------------------- */
:root {
	--font-family-mplus: "M PLUS 1p", sans-serif;
}
/* ------------------------------

  色

--------------------------------- */
:root {
	--color-gray-01: #f5f5f5;
	--color-gray-02: #e5e5e5;
	--color-gray-03: #d5d5d5;
	--color-gray-04: #c5c5c5;
	--color-gray-05: #b5b5b5;
	--color-gray-06: #a5a5a5;
	--color-gray-07: #959595;
	--color-gray-08: #858585;
	--color-gray-09: #757575;
	--color-gray-10: #656565;
	--color-gray-11: #555555;
	--color-gray-12: #454545;
	--color-gray-13: #353535;
	--color-gray-14: #252525;
	--color-gray-15: #151515;
	--color-gray-16: #050505;

	--color-black: #000000;
	--color-white: #ffffff;

	--color-main-01: #845ec2;
	--color-main-02: #b39cd0;
	--color-main-03: #fbeaff;
	--color-green-01: #57C785;
	--color-green-02: #c4fcef;
	--color-green-03: #4d8076;
}

/* ------------------------------

  サイズ

--------------------------------- */
:root {
	--size-xl: 1200px;
	--size-l: 1000px;
	--size-m: 800px;
	--size-s: 600px;

	--spacing-100: min(calc((100 / 375) * 100vw), 100px);
	--spacing-90: min(calc((90 / 375) * 100vw), 90px);
	--spacing-80: min(calc((80 / 375) * 100vw), 80px);
	--spacing-70: min(calc((70 / 375) * 100vw), 70px);
	--spacing-60: min(calc((60 / 375) * 100vw), 60px);
	--spacing-50: min(calc((50 / 375) * 100vw), 50px);
	--spacing-40: min(calc((40 / 375) * 100vw), 40px);
	--spacing-30: min(calc((30 / 375) * 100vw), 30px);
	--spacing-20: min(calc((20 / 375) * 100vw), 20px);
	--spacing-10: min(calc((10 / 375) * 100vw), 10px);
}
