.GlobalNavi {
	container-type: inline-size;

	display: flex;
	justify-content: flex-end;

	.GlobalNavi__OpenButton{
		display: flex;
		align-items: center;
		justify-content: center;
		width: min(calc((40/375)*100vw),40px);
		height: min(calc((40/375)*100vw),40px);
		background: var(--color-white);
		border: solid 1px var(--color-black);
		border-radius: 6px;
		@media (width >= 768px) {
			display: none;
		}
		@media (width < 768px) {
			display: block;
		}

		img{
			width: min(calc((20/375)*100vw),20px);
			height: min(calc((20/375)*100vw),20px);
			filter: brightness(0) saturate(100%) invert(0%) sepia(77%) saturate(7490%) hue-rotate(161deg) brightness(80%) contrast(96%);
		}
	}

	.GlobalNavi__MenuContent{
		@media (width >= 768px) {
			display: block !important;
			opacity: 1 !important;
			visibility: visible !important;
		}
		@media (width < 768px) {
			/* display: none; */
			opacity: 0;
			visibility: hidden;
			width: 100vw;
			height: 100dvh;
			position: fixed;
			transform: translate(50%,50%);
			right: 50%;
			bottom: 50%;
			z-index: 10;
		}
	}

	.GlobalNavi__MenuContent__Close{
		@media (width >= 768px) {
			display: none;
		}
		@media (width < 768px) {
			width: min(calc((40/375)*100vw),40px);
			position: absolute;
			top: min(calc((10/375)*100vw),10px);
			right: min(calc((10/375)*100vw),10px);
		}
	}

	.GlobalNavi__MenuContent__Overlay{
		@media (width < 768px) {
			display: none;
			opacity: 0;
			visibility: hidden;
			width: 100vw;
			height: 100dvh;
			background: rgba(0,0,0,0.5);
			position: fixed;
			transform: translate(50%,50%);
			right: 50%;
			bottom: 50%;
			z-index: 11;
		}
	}

	.GlobalNavi__MenuContent__Inner{
		@media (width < 768px) {
			width: 90vw;
			height: 80dvh;
			padding-block: var(--spacing-60) var(--spacing-20);
			padding-inline: var(--spacing-20);
			background: var(--color-white);
			border-radius: 10px;
			position: fixed;
			transform: translate(50%,50%);
			right: 50%;
			bottom: 50%;
			z-index: 12;
		}
	}

	.GlobalNavi__List {
		@media (width >= 768px) {
			display: flex;
			gap: var(--spacing-10);
		}
		@media (width < 768px) {
			li{
				margin-block-start: var(--spacing-10);
				&:nth-child(1){
					margin-block-start: 0;
				}
			}
		}
	}

	.GlobalNavi__Link {
		text-decoration: none;
		@media (width >= 768px) {
				color: var(--color-white);
		}
		@media (width < 768px) {
			display: flex;
			align-self: center;
			justify-content: center;
			padding-block: var(--spacing-10);
			border: solid 1px var(--color-black);
			border-radius: 6px;
		}
	}
}
