.Footer {
	container-type: inline-size;

	background: var(--color-white);

	.Footer__Copyright {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-block: min(calc((8 / 375) * 100vw), 8px);
		max-width: var(--size-xl);
		margin-inline: auto;
	}
}
